@import '../../styles/Variables.scss';

.pointer {
    cursor: pointer;
}

.cardTitle {
    font-size: 1.5rem;
}

.cardSubtitle {
    font-size: 0.9rem;
    color: $main-color;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.active {
    background-color: $gray-600 !important;
    color: $white-100 !important;
    &:hover {
        background-color: $gray-500 !important;
    }
}

.ratingButton {
    background-color: $white-100 ;
    border: 1px solid $gray-600 ;
    color: $gray-600 ;
    &:hover {
        background-color: $gray-500;
    }
}
