.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
  
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

  
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.navigation {
  display: flex;
}

.navigationItem {
  padding: 5px;
}

.f1 {
  flex: 1;
}