@import '../../../../styles/Variables.scss';

.myFormButton {
  padding: 0 2rem 0 2rem;
  text-align: center;
  border-radius: 10px;
  background-color: $main-color;
  color: $text-color;
  border: 1px solid $gray-400;
  &:hover, &:active, &:focus {
    text-align: center;
    background-color: $gray-500;
    color: $white-100; 
  }
}

.invalidFeedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: $alert;
  font-size: .9rem;
}

.checkedIcon {
  color: $main-color;
}

.labelContainer {
  width: auto; 
  margin: 0;
  display:block;
}