
$gray-300: gray;
$gray-400: #5c636ab7;
$gray-500: #5c636a;
$gray-600: #6c757d;

$white-100: #fff;

$red-400: #d1011b;

$black-200: #212529;

$alert: $red-400;
$text-color: $black-200;
$main-color: $gray-300;
